[submodule "go.tmbundle"]
	path = go.tmbundle
	url = https://github.com/AlanQuatermain/go-tmbundle.git
[submodule "Soda"]
	path = Soda
	url = https://github.com/buymeasoda/soda-theme.git
[submodule "Vintageous"]
	path = Vintageous
	url = https://github.com/guillermooo/Vintageous
[submodule "TextMate-Themes"]
	path = TextMate-Themes
	url = https://github.com/filmgirl/TextMate-Themes.git
